<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winery Tour</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
 
    
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- 헤더 js -->
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/review.js}"></script>
    <script type="text/javascript" th:src="@{/js/scroll.js}"></script>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
    <script type="text/javascript" th:src="@{/js/slider.js}"></script>


    <style>
    </style>
 
    
</head>
<body>
    <div id="whole">
    
        <div>
            <!-- 헤더 영역 시작-->
                 <header th:insert="fragments/header.html::header"></header>
          	<!-- 헤더 영역 꿑-->
           
            <!--메인 영역 -->
          <main layout:fragment="content"></main>

            <!--푸터 영역 시작 -->
           		<footer th:insert="fragments/footer.html::footer"></footer>
            <!--푸터 영역 끝-->
          
        </div>
    </div>
  
</body>
</html>