<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/layoutMain.html">

            <!--메인 영역-->
            <main layout:fragment="content" class="l_main" role="main">
                <div class="l_form">
                    <div class="l_container"> 
                        <div class="l_form_header">
                            <h1 class="heading">Create A New Account</h1>
                            <p></p>
                        </div>
                        <div class="l_wrapper">
                            <form th:action="@{/member/register}" method="POST">
                                <ul class="l_form_error"></ul>
                                <div class="f_content">
                                    <div class="l_form_g">
                                        <label class="l_user" >
                                            <span>name</span>
                                        </label>
                                        <input type="text" name="member_id" class="user_c" placeholder="name" required>
                                    </div>
                                     <div class="l_form_g">
                                        <label class="l_user">
                                            <span>password</span>
                                        </label>
                                        <input type="password" name="member_pw" class="user_c" placeholder="password" required>
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>password</span>
                                        </label>
                                        <input type="password" name="member_pw2" class="user_c" placeholder="password" required>
                                        
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user" >
                                            <span>id</span>
                                        </label>
                                        <input type="text" name="member_name" class="user_c" placeholder="id" required>
                                    </div>
                                   
                                    
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>hp</span>
                                        </label>
                                        <input type="text" name="member_hp" class="user_c" placeholder="hp" required>
                                        
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>email</span>
                                        </label>
                                        <input type="text" name="member_email" class="user_c" placeholder="email" required>
                                        
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>zipcode</span>
                                        </label>
                                        <input type="text" name="zip" class="user_c" placeholder="zipcode" required>
                                        
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>address</span>
                                        </label>
                                        <input type="text" name="addr1" class="user_c" placeholder="address" required>
                                        
                                    </div>
                                    <div class="l_form_g">
                                        <label class="l_user">
                                            <span>address</span>
                                        </label>
                                        <input type="text" name="addr2" class="user_c" placeholder="address" required>
                                        
                                    </div>
                                    
                                    <div class="f_action">
                                        <button class="l_button" type="submit">REGISTER</button>
                                        <a class="pass_lost" href="#">
                                            
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <h3>ALREADY HAVE AN ACCOUNT?</h3>
                            <button type="button" class="c_button">SIGN IN</button>
                        </div>
                    </div>
                </div>


            </main>

            <!--푸터 영역-->
        
</body>
</html>